<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097160743995-dfsaadrs33gv5b05cj223nc7878n67mb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097160743995-dfsaadrs33gv5b05cj223nc7878n67mb</string>
	<key>API_KEY</key>
	<string>AIzaSyAC6SPAtXvnxuVH2wcxwI9uAX7s5SpMPBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1097160743995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blognaga.fishingMatch</string>
	<key>PROJECT_ID</key>
	<string>fishing-matching</string>
	<key>STORAGE_BUCKET</key>
	<string>fishing-matching.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097160743995:ios:87e18650e1b2f08f2b901e</string>
</dict>
</plist>